<a href="https://colab.research.google.com/github/lsuhpchelp/lbrnloniworkshop2019/blob/master/intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


 #  Python Programming
##  Summer Workshop 2019
## LSU HPC & LONI

<a id='overview'></a>
# Topics Covered
<font color=blue>
 * [What is Python](#intro)
 * [Python programming basics](#data-type)
 * [Control structures and functions](#control)
 * [Python modules](#module)
 * [Numpy](#numpy)
 * [Plotting](#plot)</font>
<br>

<a id='intro'></a>
## What is Python?

 * A general-purpose programming language (1980) by Guido van Rossum
 * Intuitive and minimal coding
 * Objected-Oriented
 * Interpreted not compiled
 * Interactive
 * Dynamically typed, no type declarations, data type is tracked at runtime
 * Automatic memory management
 * Tabs and spacing indicates how code is to be interpreted
  
  <br>

## What is IPython?

 IPython: an interactive command shell for Python (2001) by Fernando Perez
* Enhanced Read-Eval-Print Loop (REPL) environment
* Command tab-completion, color-highlighted error messages..
* Basic Linux shell integration (cp, ls, rm…)
* Great for plotting!
* More information click _[ipython.org](http://ipython.org)_

## Jupyter Notebook 

* Web interface to Python, introduced in 2015 
* Rich text, improved graphical capabilities
* Integrate many existing web libraries for data visualization
* Allow to create and share documents that contain live code, equations, visualizations and explanatory text. 
* Interface with over 40 languages, such as R, Julia and Scala
[back to top](#top)

## Variables 

* Variable type is dynamically determined from the value it is assigned, no data type is declared
* Assign meaningful variable names
* Some keywords are reserved such as ‘print’, ‘assert’,  ‘while’, ‘lambda’. 
* A variable is assigned using the ‘=’ operator 
* Reference of [keys words](https://docs.python.org/2.5/ref/keywords.html)

## Operators 

* Arithmetic operators +, -, *, /, // (integer division for  floating point numbers), ’**’ power
* Boolean operators and, or and not
* Comparison operators >, <, >= (greater or equal), <=
* (less or equal), == equality

<a id='data-type'></a>
## Built-in Data Types   
<font color=blue>
* [Number](#numbers)
* [String](#string)
* [List](#list)
* [Tuple](#tuple)
* [Dictionary](#dic)
* [File](#file)    
 </font>
 [top](#top)

In [0]:
x = 3
type(x)

In [0]:
y = 3.0
type (y)

In [0]:
z = "hello"
type(z)

In [0]:
int(3.3)

In [0]:
complex(3)

In [0]:
z='hello'
type(z)

In [0]:
int(3.3)

In [0]:
complex(3)

In [0]:
inport math

In [0]:
abs(-3.3)

In [0]:
math.sin(60)

In [0]:
math.sqrt(25)

<a id='string'></a>
## Strings

In [0]:
my_str = 'Hello World'

In [0]:
len(my_str); print(len(my_str))

In [0]:
#indexing starting at 0
print(my_str[0]); print(my_str[1]); print(my_str[10])

In [0]:
#string slicing
print(my_str[1:4]); print(my_str[:]); print(my_str[1:])

In [0]:
#string split
s1, s2 = my_str.split(); print(s1); print(s2)

In [0]:
#multiple line spanning
multilines= """This is a multi-line
block of sample
 text"""
print(multilines)

In [0]:
#string formatting
text = "%d pigs in the barn, I’ll %s and %s" %(300,'huff','puff')
print(text)

In [0]:
total= "my share = %.5f, tip = %d" %(24.5, 5.5)
print(total)

In [0]:
#more string ops
my_str="Hello World"
print(my_str.upper())
print(my_str.isalpha())
print(my_str[0].isalpha())
a='12'
print(a.isdigit())

<a id='list'></a>
## Lists
* Collection of data [ ]
* Often used to store homogeneous values
    * e.g., Numbers, names with the same data type
* Members are accessed as strings
* Mutable: modify in place without creating a new object

In [0]:
my_list = [1,2,9,4]
print(my_list)
#how to find out the data type?

In [0]:
my_list2 = list(range(-4,10, 4))
print(my_list2)

In [0]:
# access list members by index 
# start at 0, end at n-1
print("1st element =", my_list[0])
print("last element =", my_list[3])

In [0]:
#Contatenate lists
print(my_list + my_list)
print(my_list *2)
print(my_list *3)

In [0]:
# iterate list elements
animals = ['dog','cat','horse']
for name in animals:
    print(name)

In [0]:
for index, name in enumerate(animals):
    print(index+1, name)

In [0]:
# modify list
del my_list[0]; print(my_list)
my_list.append(99); print(my_list)
my_list.insert(1, 100); print(my_list)

In [0]:
#some list fun

my_list.sort(); print(my_list)
my_list.reverse(); print(my_list)

In [0]:
#more sorting
my_list = ['cats', 'SHEEP','DOGS','horses']
print(sorted(my_list, key=len))
print(sorted(my_list))
print(sorted(my_list, reverse=True))

In [0]:
sorted(my_list, key=len)

In [0]:
# sort by lowercase
sorted(my_list, key=str.lower)

In [0]:
#list comprehension [expr for var in list]
my_list=[2,5,9,1]
square = [x**2 for x in my_list]; print("square =", square)
large = [n for n in my_list if n >= 5]; print('large =',large)

<a id='tuple'></a>
## Tuples
* Not immutable
* Why Tuple?
* Processed faster than lists
* Sequence of a Tuple is protected
* Sequence unpacking

In [0]:
my_tup = (2, 8, 3, 1)
print(my_tup)
a,b,c,d = my_tup
print(a, b, c, d)

In [0]:
print(my_tup[0])

<a id='dic'></a>
## Dictionaries
* List of key-value pairs { }
* Unordered collections of objects, not indexed
* Store objects in a random order to provide faster lookup
* Data type are heterogeneous, unlike list
* Element are accessed by a keyword, not index
* Elements are mutable 
* dict = {"key1”: value1,  “key2”: value2}

In [0]:
my_dict['horse'] = 3; print(sorted(my_dict))

In [0]:
print(my_dict.keys()); print(my_dict.values())
print(sorted(my_dict.values()))

In [0]:
for key, value in my_dict.items():
    print(key, value)

<a id='file'></a>
## Files
* file open, close, read, write
* file_handle = open(“file_name”, ‘mode’)
    * Modes: 
    * a: append
    * r: read only (error if not existing)
    * w: write only
    * r+: read/write (error if not existing)
    * w+: read/write
    * b: binary
* Python has a built-in garbage collector
* Object memory space is auto reclaimed once a file is no longer in use

In [0]:
from google.colab import files
uploaded = files.upload()

In [0]:
import os
os.path.isfile("data.txt")

In [0]:
!rm data.txt

In [0]:
! if [ ! -f "data.txt" ]; then wget 'https://raw.githubusercontent.com/lsuhpchelp/lbrnloniworkshop2018/master/day2_python/data.txt'; else echo 'file exists'; fi;

In [0]:
input = open('data.txt', 'r')
content = input.read()
input.close()
print(content)

In [0]:
#write to a file
output = open('myfile.txt','w')
output.write("Writing to a file")
output.close()
!ls -l

In [0]:
input = open('myfile.txt', 'r')
content = input.read()
input.close()
print(content)

<a id='control'></a>
## Control Structures 
<font color=blue>
* if-else
* for loops, while loops
* break: jump out of the current loop
* continue: jump to the top of next cycle within the loop
* pass: do nothing 
</font> 
[top](#top)

<div class='alert alert-block alert-danger'>  Tip: <div>
  Indentation: signifies code blocks  <div>

In [0]:
x = 500 #input("Please enter a number")
if ( x >= 5 ):
  print(x,"> 5")
  print("Hi, greater than 5")
else:
    print(x, "< 5")

In [0]:

for num in range(3):
    print(num)

In [0]:
index=0
while (index < 3):
    print(index)
    index = index + 2

In [0]:
#prime numbers
n = 2
while n < 10:
    prime = True
    for x in range(2,n):
        if n % x == 0:
            prime = False
            break
        if prime:
            print(n, 'is a prime #')
            pass
        else:
            n= n + 1
            continue
    n = n + 1

<a id='module'> </a>
## Functions
def func_name(par1, par2,...): 
> body of code
 
 [top](#top)

## Python Modules
* math, sys, os..
* NumPy, high performance in vector & matrix using vector computation 
* SciPy: based on Numpy, including many scientific algorithms.
* padas
* matplotlib, pyplot, pylab

Reference to [Python3.x standard libraries](https://docs.python.org/3/library/)

In [0]:
#import a module
import math
math.sin(math.pi)

In [0]:
#get information of a module
dir(math)

In [0]:
#get information
help(math)

In [0]:
# get information of a module function 
help(range)

 * Examples using os, commands modules
 * os: includes many functions interacting with the file system

In [0]:
import os
print(os.name)

In [0]:
print(os.getcwd())

In [0]:
try: 
    # If the file does not exist, 
    # then it would throw an IOError 
    filename = 'data.txt'
    f = open(filename, 'r') 
    text = f.read() 
    f.close() 

  
# Control jumps directly to here if  
#any of the above lines throws IOError.     
except IOError: 
  
    # print(os.error) will <class 'OSError'> 
    print('Problem reading: ' + filename) 
      
# In any case, the code then continues with  
# the line after the try/except 

print(text)

# Examples:   Please solve the following problems:  (Feel free to ask for help)

Write a line of code to print the sum of 999 and 1600

Write a line of code to print out your "Hello Name" where Name is your name.

Write a code snippet to calculate the total of the shopping spree on Rodeo Dr.   You bought:

1 pair of shoes:      $2400
1 pair of slacks:     $1500
1 ruby ring:                 $22000

State and local tax is 22%.

You want to print out the untaxed total, the amount of tax and the total of tax and goods.

Using the code you wrote above make the tax calculation a function block and the shopping total a function block

Create a leap year finder based on the following algorithm:

Leap years occur according to the following formula: a leap year is divisible by four, but not by one hundred, unless it is divisible by four hundred. For example, 1992, 1996, and 2000 are leap years, but 1993 and 1900 are not. The next leap year that falls on a century will be 2400.

The list of leap years from 1900 to 2400 inclusive is:

1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020