<a href="https://colab.research.google.com/github/lsuhpchelp/lbrnloniworkshop2019/blob/master/day3_data_R/data_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Analysis in R
===

# Outline


*   **Data acquisition and inspection**

*   **Preprocess the dataset**

*   **Data analysis**

##How does R work
*  R works best if you have a dedicated folder for each separate project - the working folder. Put all data files in the working folder (or in subfolders).

Show current working folder:

In [0]:
getwd()

Create a new folder:

In [0]:
dir.create("data")

Go to the new folder:

In [0]:
setwd("data")

Show current working folder:

In [0]:
getwd()

##Case Study: Forbes Fortune list
*   The `forbes` dataset consists of 2000 rows (observations) on 8 variables describing companies’ rank, name, country, category, sales, profits, assets and market value. 
http://www.hpc.lsu.edu/training/weekly-materials/Downloads/Forbes2000.csv.zip
> * **`rank`** the ranking of the company
> * **`name`** the name of the company
> * **`country`** the country the company is situated in
> * **`category`** the products the company produces
> * **`sales`** the amount of sales of the company in billion USD
> * **`profits`** the profit of the company in billion USD
> * **`assets`** the assets of the company in billion USD
> * **`marketvalue`** the market value of the company in billion USD

# Step by step Data Analysis in R


1. Get data
2. Read data
3. Inspect data
4. Preprocess data (missing and dubious values, discard columns not needed etc.)
5. Analyze data
6. Generate report

## 1. Getting Data
* Downloading files from internet
> * Manually download the file to the working directory 
> * or with R function `download.file()`
* Unzip with the `unzip()` function

In [0]:
download.file("http://www.hpc.lsu.edu/training/weekly-materials/Downloads/Forbes2000.csv.zip", "Forbes2000.csv.zip")
unzip("Forbes2000.csv.zip","Forbes2000.csv")
list.files()   # List files in current folder

##2. Reading data
* R understands many different data formats and has lots of ways of reading/writing them (csv, xml, excel, sql, json etc.)

>Input | Output | Purpose
>--- | --- | ---
>read.table (read.csv) | write.table (write.csv) | for reading/writing tabular data
>readLines | writeLines | for reading/writing lines of a text file
>source | dump | for reading/writing in R code files
>dget | dput | for reading/writing in R code files
>load | save | for reading in/saving workspaces

* ` read.csv()` is identical to `read.table()` except that the default separator is a comma.

In [0]:
forbes <- read.csv("Forbes2000.csv",header=T,stringsAsFactors = FALSE,na.strings ="NA",sep=",")

###Quiz
* After importing the raw data, the R data object used for carrying the data is a:

a) vector

b) matrix

c) array

d) list

e) dataframe

##3. Inspecting data
* `class()`: check object class
* `dim()`: dimension of the data
* `head()`: print on screen the first few lines of data, may use n as argument
* `tail()`: print the last few lines of data

In [0]:
class(forbes)
dim(forbes)
head(forbes)

* `str()` displays the structure of the “forbes” dataframe.

In [0]:
str(forbes)

* `summary()` has statistical summary of the “Forbes” dataframe. Note: there are missing values (NAs) in the profits.

In [0]:
summary(forbes)

##4. Preprocess data

### 4.1 Preprocessing - missing values
* Missing values are denoted in R by NA or NaN for undefined mathematical operations.
> * `is.na(x)` is used to test objects "x" if there are NAs
> * Which one is NA? `which(is.na(x))`

In [0]:
is.na(forbes$profits)  #don't do this because you will get a very long list

In [0]:
which(is.na(forbes$profits))

* more about missing value inspection
> * How many NAs? `table(is.na(x))`
> * list of observations with missing values on profits `x(is.na(x),)`

In [0]:
table(is.na(forbes$profits))
forbes[is.na(forbes$profits),]

* remember many R functions also have a logical “`na.rm`” option
> * `na.rm=TRUE` means the NA values should be discarded

In [0]:
mean(forbes$profits)  # will get NA
mean(forbes$profits,na.rm=T)

* **Note: Not all missing values are marked with “NA” in the raw data!**

* The simplest way to deal with the missing values is to remove them. 
> * If a column (variable) has a high percentage of the missing value, remove the whole column or just don’t use it for the analysis.
> * If a row (observation) has a missing value, remove the row with `na.omit()`. e.g.

In [0]:
forbes2 <- na.omit(forbes)
dim(forbes2)

* Alternatively, the missing values can be replaced by basic statistics e.g. 
> * replace by mean

In [0]:
for(i in 1:nrow(forbes)){
  if(is.na(forbes$profits[i])==TRUE){
  forbes$profits[i] <- mean(forbes$profits, na.rm = TRUE)
  }
}

* or use advanced statistical techniques. List of popular R Packages:
> * MICE
> * Amelia (named after Amelia Earhart, the first female pilot to fly solo across the Atlantic Ocean. History says, she got mysteriously disappeared (missing) while flying over the Pacific Ocean in 1937, hence this package was named to solve missing value problems.)
> * missForest (non parametric imputation method)
> * Hmisc
> * mi

###4.2 Preprocessing - subsetting data
* At most occasions we do not need all of the raw data
* There are a number of methods of extracting a subset of R objects
* Subsetting data can be done either by row or by column

#### 4.2.1 Subsetting by row: use conditions
Find all companies with negative profit:

In [0]:
forbes[forbes$profits < 0,c("name","sales","profits","assets")]

Find three companies with largest sale volumne:

In [0]:
companies <- forbes$name  # or companies <- forbes[,"name"] 
order_sales <- order(forbes$sales, decreasing=T)
#company names
companies[order_sales[1:3]]
#company sales
head(sort(forbes$sales,decreasing=T),n=3)

####4.2.2 Subsetting by row: use `subset()` function
Find the business category to which most of the Bermuda island companies belong.

In [0]:
Bermudacomp <- subset(forbes, country == "Bermuda")
table(Bermudacomp[,"category"]) #frequency table of categories

####4.2.3 Subsetting by column
Create another dataframe with only numeric variables

In [0]:
#use data.frame function
forbes3 <- data.frame(sales=forbes$sales,profits=forbes$profits,
           assets=forbes$assets, mvalue=forbes$marketvalue)
str(forbes3)

#use subset() function
forbes4 <- subset(forbes,select=c(sales,profits,assets,marketvalue))
str(forbes4)

#or simply use indexing
forbes5 <- forbes[,c(5:8)]
str(forbes5)

### 4.3 Preprocessing – Factors
* factors are variables in R which take on a limited number of different values; such variables are often referred to as categorical variables


Convert characters to (unordered) factors:

In [0]:
forbes$country<-factor(forbes$country)
str(forbes)

* Small classes could be merged into a larger class. Why?
> * For better model performance. E.g. Classification and Regression Trees tend to split using the variables with many categories.
> * Actual needs
Some categories have just a few subjects

In [0]:
table(forbes$country)

* Merge small classes into a larger classes

Merge all South American countries to "Venezuela"

In [0]:
forbes$country[(forbes$country=="Bahamas")|(forbes$country=="Bermuda")|(forbes$country=="Brazil")|(forbes$country=="Cayman Islands")|(forbes$country=="Chile")|(forbes$country=="Panama/ United Kingdom")|(forbes$country=="Peru")]<-"Venezuela"

Merge small classes into a larger classes

In [0]:
forbes$country[(forbes$country=="Austria")|(forbes$country=="Belgium")|(forbes$country=="Czech Republic")|(forbes$country=="Denmark")|(forbes$country=="Finland")|(forbes$country=="France")|(forbes$country=="Germany")|(forbes$country=="Greece")|(forbes$country=="Hungary")|(forbes$country=="Ireland")|(forbes$country=="Italy")|(forbes$country=="Luxembourg")|(forbes$country=="Netherlands")|(forbes$country=="Norway")|(forbes$country=="Poland")|(forbes$country=="Portugal")|(forbes$country=="Russia")|(forbes$country=="Spain")|(forbes$country=="Sweden")|(forbes$country=="Switzerland")|(forbes$country=="Turkey")|(forbes$country=="France/ United Kingdom")|(forbes$country=="United Kingdom/ Netherlands")|(forbes$country=="Netherlands/ United Kingdom")]<-"United Kingdom"
forbes$country[(forbes$country=="China")|(forbes$country=="Hong Kong/China")|(forbes$country=="Indonesia")|(forbes$country=="Japan")|(forbes$country=="Kong/China")|(forbes$country=="Korea")|(forbes$country=="Malaysia")|(forbes$country=="Philippines")|(forbes$country=="Singapore")|(forbes$country=="South Korea")|(forbes$country=="Taiwan")]<-"Thailand"
forbes$country[(forbes$country=="Africa")|(forbes$country=="Australia")|(forbes$country=="India")|(forbes$country=="Australia/ United Kingdom")|(forbes$country=="Islands")|(forbes$country=="Israel")|(forbes$country=="Jordan")|(forbes$country=="Liberia")|(forbes$country=="Mexico")|(forbes$country=="New Zealand")|(forbes$country=="Pakistan")|(forbes$country=="South Africa")|(forbes$country=="United Kingdom/ Australia")]<-"United Kingdom/ South Africa"

* Drop those levels with zero counts

Use `droplevels()` function:

In [0]:
forbes$country<-droplevels(forbes$country)

Now we can check the new frequency tables:

In [0]:
table(forbes$country)

* Rename each class

In [0]:
levels(forbes$country)<-c("Canada","East/Southeast Asia","Europe","Other","United States","Latin America")
levels(forbes$country)

###4.4 Export the cleaned dataset (Important!)
* Save forbes to Forbes2000_clean.csv

In [0]:
write.csv(forbes,"Forbes2000_clean.csv",row.names=FALSE)
list.files()

##Exercise 1
1. Find all German companies with negative profit

In [0]:
forbes <- read.csv("Forbes2000.csv",header=T,stringsAsFactors = FALSE,na.strings ="NA",sep=",") #reload raw data 
forbes <- na.omit(forbes)  # omit NAs
Germanycomp <- subset(forbes, country == "Germany")
Germanycomp[Germanycomp$profits < 0,c("name","sales","profits","assets")]

2. Find first 50 companies in the Forbes dataset with the highest profit

In [0]:
companies <- forbes$name   
order_profit <- order(forbes$profits, decreasing=T)   # order() returns the indices of the vector in sorted order
companies[order_profit[1:50]]
head(sort(forbes$profits,decreasing=T),n=50)

3. Find the average value of sales for the companies in each country (Hint: use tapply function)

In [0]:
tapply(forbes$sales,forbes$country,mean)

4. Find the number of companies in each country with profits above 5 billion US dollars

In [0]:
forbes3 <- forbes[forbes$profits > 5,c("name","country","profits")]
table(forbes3[,"country"])

5. Arbitrarily merge the classes of category to three classes: industry, services and finance

In [0]:
# factorize the values in the "category" 
forbes$category=factor(forbes$category)
str(forbes)
table(forbes$category)

In [0]:
# arbitrarily define "industry"
forbes$category[(forbes$category=="Aerospace & defense")|(forbes$category=="Chemicals")|(forbes$category=="Conglomerates")|(forbes$category=="Construction")|(forbes$category=="Consumer durables")|(forbes$category=="Drugs & biotechnology")|(forbes$category=="Food markets")|(forbes$category=="Food drink & tobacco")|(forbes$category=="Food markets")|(forbes$category=="Household & personal products")|(forbes$category=="Materials")|(forbes$category=="Semiconductors")|(forbes$category=="Technology hardware & equipment")|(forbes$category=="Utilities")]<-"Industry"
# drop levels with 0 count
forbes$category<-droplevels(forbes$category)
table(forbes$category)

## 5. Data analysis

###5.1 Two common questions:
* Which statistical model should I use for my data analysis?
* How to choose the right R packages for my data analysis?

#### Which statistical model should I use for my data analysis?
* This is not a statistics workshop…
* If you need to learn more about the data mining and data analysis from statisticians:
> * EXST7142 - Statistical Data Mining 
http://statweb.lsu.edu/faculty/li/teach/exst7142/
> *EXST7152 - Advanced Topics in Statistical Modeling
http://statweb.lsu.edu/faculty/li/teach/exst7152/

####How to choose the right R packages for my data analysis?
* The most popular packages are most frequently mentioned
* CRAN task views 
https://cran.r-project.org/web/views/
* RDocumentation
a website, an R package and an API
https://www.rdocumentation.org

###5.2 Import the cleaned dataset (Optional)
* Subsetting by column
Create a dataframe with the clean data

In [0]:
forbes_clean <- read.csv("Forbes2000_clean.csv",header=T,stringsAsFactors = T,na.strings ="NA",sep=",")
str(forbes_clean)

###5.3 Extract Variables 
* Create another data frame with only numeric variables + country

In [0]:
forbes_clean <- forbes_clean[,c(3, 5:8)]
str(forbes_clean)

'data.frame':	2000 obs. of  5 variables:
 $ country    : Factor w/ 6 levels "Canada","East/Southeast Asia",..: 6 6 6 6 3 6 3 2 6 6 ...
 $ sales      : num  94.7 134.2 76.7 222.9 232.6 ...
 $ profits    : num  17.85 15.59 6.46 20.96 10.27 ...
 $ assets     : num  1264 627 648 167 178 ...
 $ marketvalue: num  255 329 195 277 174 ...

###5.4 Training Set and Test Set
* Dataset could be randomly split into two parts: training set and test set.

In [0]:
set.seed(1) #set random seed reproducible
indx <- sample(1:1995,size=1995,replace=F)
forbes.train <- forbes_clean[indx[1:1600],]
forbes.test <- forbes_clean[indx[1601:1995],]

###5.5 Roadmap of generalizations of linear models
* Roadmap of generalizations of linear models:
> https://drive.google.com/open?id=1HrnpinlmyZl9_GL9xX24a5Nv6PUumovI

* Explanation of Acronyms

>Models | Acronym | R function
>--- | --- | ---
>Linear Models | LM | lm, aov
>MultivariateLMs | MLM | manova
>Generalized LMs | GLM | glm
>Linear Mixed Models | LMM | lme, aov
>Non-linear Models | NLM | nls
>Non-linear Mixed Models | NLMM | nlme
>Generalized LMMs | GLMM | glmmPQL
>Generalized Additive Models | GAM | gam

* Symbol Meanings in Model Formulae

>Symbol | Example | Meaning
>--- | --- | ---
>+ | +X | Include variable X in the model
>- | -X | Exclude variable X in the model
>: | X:Z | Include the interaction between X and Z
>\* | X\*Z | Include X and Z and the interactions
>\| | NLM | Conditioning: include X given Z
>^ | NLMM | Include A, B and C and all the interactions up to three way
>/ | GLMM | As is: include a new variable consisting of these variables multiplied

* Model Formulae
> * General form: response ~ term1 + term2

> Example | Meaning
>--- | --- 
>y ~ x | Simple regression
>y ~ -1 +  x | LM through the origin
>y ~ x + x^2 | Quadratic regression
>y ~ x1 + x2 + x3 | Multiple regression
>y ~ . | All variables included
>y ~ . - x1 | All variables except X1
>y ~ A + B + A : B | Add interaction
>y ~ A \* B | Same above
>y ~ (A+B)^2 | Same above

###5.6 A Multiple linear regression example
* marketvalue ~ profits + sales + assets + country

In [0]:
lm <- lm(marketvalue ~ ., data = forbes.train)
summary(lm)

* R has created a n-1 variables each with two levels. These n-1 new variables contain the same information as the single variable. This recoding creates a table called contrast matrix.

In [0]:
contrasts(forbes.train$country)

* The decision to code dummy variables is arbitrary, and has no effect on the regression computation, but does alter the interpretation of the coefficients.

###5.7 A Stepwise regression example
* The function `regsubsets()` in the leaps library allow us to do the stepwise regression

In [0]:
install.packages("leaps")
library(leaps)
bwd <- regsubsets(marketvalue ~ ., data = forbes.train,nvmax =3,method ="backward")
summary(bwd)

An asterisk indicates that a given variable is included in the corresponding model.

###5.8 A Regression tree example
* The function `rpart() `in the rpart library allow us to grow a regression tree

In [0]:
install.packages("rpart")
library(rpart)
rpart <- rpart(marketvalue ~ ., data = forbes.train,control = rpart.control(xval = 10, minbucket = 50))
par(mfrow=c(1,1),xpd=NA,cex=1.5)
plot(rpart,uniform=T)
text(rpart,use.n=T)

###5.9 A Bagging tree example
* The function `randomForest()` in the randomForest library allow us to grow a regression tree

In [0]:
install.packages("randomForest")
library(randomForest)
bag <- randomForest(marketvalue ~ ., data = forbes.train, importance =TRUE)
importance(bag)
varImpPlot(bag)

### 5.10 The predictive results in terms of the MAD and RMSE values 
* MAD:

$MAD = \frac{1}{N}\times\sum_{i=1}^N|y_i-\hat{y_i}|$


* RMSE:

$RMSE = \sqrt{\sum_{i=1}^N(y_i-\hat{y_i})^2/N}$

>Model | Package | RMSE | MAD
>--- | --- | --- | ---
>MLR |  | 14.41041 | 6.436288
>Backward | leaps | 14.41041 | 6.436288
>Pruned tree | rpart | 17.85625 | 5.899107
>Bagging tree | randomForest | 11.69301 | 4.944942

* Bagging tree example for calculating RMSE and MAD

In [0]:
forbes_clean2 <- forbes_clean[,c(2:5)]  # create a new dataframe with only numeric variables included
set.seed(2) 
indx <- sample(1:1995,size=1995,replace=F)
forbes.train <- forbes_clean2[indx[1:1600],]
forbes.test <- forbes_clean2[indx[1601:1995],]
bag <- randomForest(marketvalue ~ ., data = forbes.train, importance =TRUE)
bag.yhat <- predict(bag, newdata = forbes.test) 
bag.y <- forbes.test["marketvalue"] 
bag.rmse <- sqrt(mean(data.matrix((bag.y - bag.yhat)^2)))
bag.rmse
bag.abs = abs(bag.y - bag.yhat) 
bag.mad = (sum(bag.abs))/395 
bag.mad

##Exercise 2
1. Use the `lm()` function to perform a multiple linear regression with profits as the response and all other numeric variables as the predictors. Use the `summary()` function to print the results.

In [0]:
forbes_clean2 <- forbes_clean[,c(2:5)]  # create a new dataframe with only numeric variables included
set.seed(3) 
indx <- sample(1:1995,size=1995,replace=F)
forbes.train <- forbes_clean2[indx[1:1600],]
forbes.test <- forbes_clean2[indx[1601:1995],]
str(forbes.train)

In [0]:
lm <- lm(profits ~ ., data = forbes.train)
summary(lm)

2. Comment on the output. For instance:  Is there a relationship between the predictors and the response?

3. Which predictors appear to have a statistically significant relationship to the response?

4. What does the coefficient for the sales variable suggest?

5. Use the ^ symbols to fit linear regression models with interaction effects. Do any interactions appear to be statistically significant?

In [0]:
lm2 <- lm(profits ~ (sales + assets + marketvalue)^3, data = forbes.train)
summary(lm2)

6. Compare two models you just fitted with MAD and RMSE. Which model has better predictive results in terms of MAD and RMSE?

In [0]:
# MLR model without interactions 
lm.yhat <- predict(lm, newdata = forbes.test) 
lm.y <- forbes.test["profits"] 
lm.rmse <- sqrt(mean(data.matrix((lm.y - lm.yhat)^2)))
lm.rmse
lm.abs = abs(lm.y - lm.yhat) 
lm.mad = (sum(lm.abs))/395 
lm.mad

# MLR model with all interactions
lm2.yhat <- predict(lm2, newdata = forbes.test) 
lm2.y <- forbes.test["profits"] 
lm2.rmse <- sqrt(mean(data.matrix((lm2.y - lm2.yhat)^2)))
lm2.rmse
lm2.abs = abs(lm2.y - lm2.yhat) 
lm2.mad = (sum(lm2.abs))/395 
lm2.mad

##6. Generate the report
* R Markdown
> * Allows one to generate dynamic report by weaving R code and human readable texts together
* The `knitr `and `rmarkdown` packages can convert them into documents of various formats
* Help make your research reproducible

#Take-home message
* Get the data 
* Read and inspect the data
* Preprocess the data
> *  missing values, discard rows, columns not needed etc.
* Analyze the data
> * choose the right model and R package
> * common R functions and syntax for regressions
* Generate the report

# Getting Help
* Documentation: http://www.hpc.lsu.edu/docs
* Contact us
> * Email ticket system: sys-help@loni.org
> * Telephone Help Desk: 225-578-0900